$btn-background: rgb(239, 239, 239);

.wishesContainer {
  width: 90%;
  max-width: 1440;
  margin: 25px auto;
  color: #444;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btn {
  height: 40px;
  width: 200px;
  border-radius: 15px;
  border: none;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: $btn-background;
  transition: all 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: scale-color($btn-background, $lightness: -10%);
  }
}

.btn-addCategory {
  margin-bottom: 15px;
}

.far {
  cursor: pointer;
}

.wishes {
  .wish {
    margin: 0 3% 5% 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    width: 300px;
    .fa-edit {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        color: red;
        transform: scale(1.25);
      }
    }
    .img {
      height: 300px;
      background-color: lightblue;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .description {
      color: #444;
      padding: 10px 15px;
      box-sizing: border-box;
      .title {
        font-size: 25px;
        margin-bottom: 10px;
      }
      .priceContainer {
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;

        .price {
          font-size: 22px;
          padding: 7px;
          background-color: lightgoldenrodyellow;
          border-radius: 5px;
          margin-right: 10px;
        }
        .store {
          font-weight: 400;
          font-size: 1rem;
          margin-bottom: 8px;
        }
      }
      .why {
        font-weight: 400;
      }
    }
  }
  .wish:last-child {
    margin-right: 0;
  }
}

.donations {
  width: 100%;
  height: 30px;
  border-radius: 6px;
  background-color: #dee0e0;
  .progress {
    height: 100%;
    width: 50%;
    border-radius: 6px;
    position: relative;
    background: linear-gradient(-90deg, #71f7f2, #36b8e9); /* Standard syntax */
    z-index: 3;
    .raised {
      position: absolute;
      right: 15px;
      line-height: 20px;
      font-size: 0.8rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      height: 100%;
    }
  }
}
